* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #0a0a0a;
    --text-color: #fdfdfd;
    --main-color: #b005ff;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

.dark-mode {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, .2);
}

/* :root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754efd;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

strong {
    color: var(--main-color);
}
